@{
    Layout = "~/Views/Shared/_LayoutReport.cshtml";
    ViewBag.Title = "云课堂使用情况统计表";
    Dictionary<int, string> dict = BoxOms.Dict.Course.Get();
    Dictionary<int, string> dict1 = BoxOms.Dict.Edition.Get();
    ViewBag.Provs = BoxOms.Web.BLL.BoxGoodBLL.GetData();
    ViewBag.Citys = Model == null || Model.UseProv == null ? new Dictionary<int, string>() : BoxOms.Web.BLL.BoxGoodBLL.GetData((int)Model.UseProv);
    ViewBag.Areas = Model == null || Model.UseCity == null ? new Dictionary<int, string>() : BoxOms.Web.BLL.BoxGoodBLL.GetData((int)Model.UseCity);
    ViewBag.SchoolNames = Model == null || Model.UseDist == null ? new Dictionary<string, string>() : BoxOms.Web.BLL.BookUseBLL.GetSchoolData(Convert.ToInt32(Model.UseDist));
}
@model VM_AreaYkt_Index
<style type="text/css">
    .table th, .table td {
        text-align: center;
        vertical-align: middle !important;
        border: 1px solid #ccc;
        vertical-align: middle;
        padding: 10px;
    }
</style>
<div class="panel panel-default">
    <div class="panel-heading">云课堂使用情况统计表(区域)</div>
    <div class="panel-body">
        @using (Html.BeginForm("YktArea", "RpReport", FormMethod.Get, new { @class = "form-inline", id = "form1" }))
            {
            <div class="row">
                <div class="col-md-12">
                    @Html.DropDownListFor(m => m.UseProv, new SelectList(ViewBag.Provs, "key", "value"), "--请选择省份--", new { @class = "form-control", @onchange = "s1();search();" })
                    @Html.DropDownListFor(m => m.UseCity, new SelectList(ViewBag.Citys, "key", "value"), "--请选择城市--", new { @class = "form-control", @onchange = "s2();search();" })
                    @Html.DropDownListFor(m => m.UseDist, new SelectList(ViewBag.Areas, "key", "value"), "--请选择区域--", new { @class = "form-control", @onchange = "s3();search();" })
                    @Html.DropDownListFor(m => m.keyid, new SelectList(ViewBag.SchoolNames, "key", "value"), "--请选择学校--", new { @class = "form-control", @onchange = "search();" })
                    <a id="export" class="btn btn-default" href="#">导出Excel</a>
                    <a class="btn btn-default" href="@Url.Action("YktUse","RpReport")">查看全部</a>
                </div>
            </div>
        }
        <div class="datas">
            <table class="table table-hover">
                @if (Model.AreaList.Count > 0)
                {
                    <tr>
                        <th>区域</th>
                        <th>学校</th>
                        <th>学科</th>
                        <th>版本</th>
                        @foreach (var item in dict)
                        {
                            <th>
                                @item.Value
                            </th>
                        }
                        <th>版本小计</th>
                        <th>学科小计</th>
                    </tr>
                    foreach (var it in Model.AreaList)//区域
                    {
                        List<BoxOms.Database.rp_cdkey> _listKey = BoxOms.Web.BLL.BookUseBLL.BackSchoolName(Convert.ToInt32(it.ToString()));
                        int z = 0;
                        foreach (var key in _listKey)//学校
                        {
                            //精确到学校
                            List<BoxOms.Database.rp_resource_statist> _lrrs = BoxOms.Web.BLL.BookUseBLL.BackList(key.Id, 3);
                            Model.grid.Chinese = new System.Collections.ArrayList();
                            Model.grid.Math = new System.Collections.ArrayList();
                            Model.grid.English = new System.Collections.ArrayList();
                            if (_lrrs.Count > 0)
                            {
                                foreach (var item in _lrrs)
                                {
                                    if (item.SubjectId == 1 && !Model.grid.Chinese.Contains(item.EditionId))
                                    {
                                        Model.grid.Chinese.Add(item.EditionId);
                                    }
                                    if (item.SubjectId == 2 && !Model.grid.Math.Contains(item.EditionId))
                                    {
                                        Model.grid.Math.Add(item.EditionId);
                                    }
                                    if (item.SubjectId == 3 && !Model.grid.English.Contains(item.EditionId))
                                    {
                                        Model.grid.English.Add(item.EditionId);
                                    }
                                }
                                int _engNum = 0;
                                int _matNum = 0;
                                int _chiNum = 0;
                                if (Model.grid.English.Count > 0)
                                {
                                    _engNum = Model.grid.English.Count;
                                }
                                if (Model.grid.Math.Count > 0)
                                {
                                    _matNum = Model.grid.Math.Count;
                                }
                                if (Model.grid.Chinese.Count > 0)
                                {
                                    _chiNum = Model.grid.Chinese.Count;
                                }
                                if (Model.grid.English.Count > 0)
                                {
                                    for (int i = 0; i < Model.grid.English.Count; i++)
                                    {
                                        <tr>
                                            @if (i == 0)
                                            {
                                                if (z == 0)
                                                {
                                                    <td rowspan='@((_engNum+_matNum+_chiNum)*_listKey.Count)'>@BoxOms.Web.BLL.BookUseBLL.BackAreaName(Convert.ToInt32(it.ToString()))</td>
                                                }

                                                <td rowspan='@(_engNum+_matNum+_chiNum)'>@key.UseSchool</td>
                                                <td rowspan='@(_engNum)'>
                                                    英语
                                                </td>
                                            }
                                            <td>
                                                @BoxOms.Dict.Edition.GetVal(Convert.ToInt32(Model.grid.English[i]))
                                            </td>
                                            @for (int j = 0; j < dict.Count; j++)
                                            {
                                                <td>
                                                    @BoxOms.Web.BLL.BookUseBLL.BackNumByYkt(3, Convert.ToInt32(Model.grid.English[i]), j, key.Id)
                                                </td>
                                            }
                                            <td>
                                                @BoxOms.Web.BLL.BookUseBLL.BackNumTotalByYkt(3, Convert.ToInt32(Model.grid.English[i]), key.Id)
                                            </td>
                                            @if (i == 0)
                                            {
                                                <td rowspan='@(_engNum)'>
                                                    @BoxOms.Web.BLL.BookUseBLL.BackNumTotalByYkt(3, key.Id)
                                                </td>
                                            }
                                        </tr>

                                    }
                                }
                                if (Model.grid.Math.Count > 0)
                                {
                                    for (int i = 0; i < Model.grid.Math.Count; i++)
                                    {
                                        <tr>
                                            @if (i == 0)
                                            {
                                                if (Model.grid.English.Count == 0)
                                                {
                                                    if (z == 0)
                                                    {
                                                        <td rowspan='@((_engNum+_matNum+_chiNum)*_listKey.Count)'>@BoxOms.Web.BLL.BookUseBLL.BackAreaName(Convert.ToInt32(it.ToString()))</td>
                                                    }
                                                    <td rowspan='@(_engNum+_matNum+_chiNum)'>@key.UseSchool</td>
                                                }

                                                <td rowspan='@(_matNum)'>
                                                    数学
                                                </td>
                                            }
                                            <td>
                                                @BoxOms.Dict.Edition.GetVal(Convert.ToInt32(Model.grid.Math[i]))
                                            </td>
                                            @for (int j = 0; j < dict.Count; j++)
                                            {
                                                <td>
                                                    @BoxOms.Web.BLL.BookUseBLL.BackNumByYkt(2, Convert.ToInt32(Model.grid.Math[i]), j, key.Id)
                                                </td>
                                            }
                                            <td>
                                                @BoxOms.Web.BLL.BookUseBLL.BackNumTotalByYkt(2, Convert.ToInt32(Model.grid.Math[i]), key.Id)
                                            </td>
                                            @if (i == 0)
                                            {
                                                <td rowspan='@(_matNum)'>
                                                    @BoxOms.Web.BLL.BookUseBLL.BackNumTotalByYkt(2, key.Id)
                                                </td>
                                            }
                                        </tr>

                                    }
                                }
                                if (Model.grid.Chinese.Count > 0)
                                {
                                    for (int i = 0; i < Model.grid.Chinese.Count; i++)
                                    {
                                        <tr>
                                            @if (i == 0)
                                            {
                                                if (Model.grid.English.Count == 0 && Model.grid.Math.Count == 0)
                                                {
                                                    if (z == 0)
                                                    {
                                                        <td rowspan='@((_engNum+_matNum+_chiNum)*_listKey.Count)'>@BoxOms.Web.BLL.BookUseBLL.BackAreaName(Convert.ToInt32(it.ToString()))</td>
                                                    }
                                                    <td rowspan='@(_engNum+_matNum+_chiNum)'>@key.UseSchool</td>
                                                }
                                                <td rowspan='@(_chiNum)'>
                                                    语文
                                                </td>
                                            }
                                            <td>
                                                @BoxOms.Dict.Edition.GetVal(Convert.ToInt32(Model.grid.Chinese[i]))
                                            </td>
                                            @for (int j = 0; j < dict.Count; j++)
                                            {
                                                <td>
                                                    @BoxOms.Web.BLL.BookUseBLL.BackNumByYkt(1, Convert.ToInt32(Model.grid.Chinese[i]), j, key.Id)
                                                </td>
                                            }
                                            <td>
                                                @BoxOms.Web.BLL.BookUseBLL.BackNumTotalByYkt(1, Convert.ToInt32(Model.grid.Chinese[i]), key.Id)
                                            </td>
                                            @if (i == 0)
                                            {
                                                <td rowspan='@(_chiNum)'>
                                                    @BoxOms.Web.BLL.BookUseBLL.BackNumTotalByYkt(1, key.Id)
                                                </td>
                                            }
                                        </tr>

                                    }
                                }

                            }
                            z++;
                        }


                    }
                }
                else
                {
                    <tr>
                        <th>区域</th>
                        <th>学校</th>
                        <th>学科</th>
                        <th>版本</th>
                        @foreach (var item in dict)
                        {
                            <th>
                                @item.Value
                            </th>
                        }
                        <th>版本小计</th>
                        <th>学科小计</th>
                    </tr>
                    <tr><td class="nodata" colspan="17">目前没有任何数据</td></tr>
                }
            </table>
        </div>
    </div>
</div>
<script src="@Url.Content("/Content/Tools/jquery/jquery-1.10.2.min.js")"></script>
<script type="text/javascript">
    $(function () {
        $("#UseProv").change(function () {//加载城市
            $("#UseCity").empty();
            $("#UseDist").empty();
            $("#keyid").empty();
            $("<option></option>").val("").text("--请选择城市--").appendTo($("#UseCity"));
            $("<option></option>").val("").text("--请选择区域--").appendTo($("#UseDist"));
            $("<option></option>").val("").text("--请选择学校--").appendTo($("#keyid"));

            $.getJSON("/BoxRunStat/GetCitys", { pid: $("#UseProv").val() }, function (data) {
                $.each(data, function (i, item) {
                    $("<option></option>").val(item["Value"]).text(item["Text"]).appendTo($("#UseCity"));
                });
            });
        });

        $("#UseCity").change(function () {//加载区县
            $("#UseDist").empty();
            $("#keyid").empty();
            $("<option></option>").val("").text("--请选择区域--").appendTo($("#UseDist"));
            $("<option></option>").val("").text("--请选择学校--").appendTo($("#keyid"));

            $.getJSON("/BoxRunStat/GetAreas", { cid: $("#UseCity").val() }, function (data) {
                $.each(data, function (i, item) {
                    $("<option></option>").val(item["Value"]).text(item["Text"]).appendTo($("#UseDist"));
                });
            });
        });

        $("#UseDist").change(function () {//加载学校
            $("#keyid").empty();
            $("<option></option>").val("").text("--请选择学校--").appendTo($("#keyid"));

            $.getJSON("/RpReport/GetSchool", { aid: $("#UseDist").val() }, function (data) {
                $.each(data, function (i, item) {
                    $("<option></option>").val(item["Value"]).text(item["Text"]).appendTo($("#keyid"));
                });
            });
        });

        $("#export").click(function () {
            $(this).attr('href', '/RpReport/ExportYktByAreaData?UseProv=' + $("#UseProv").val() + '&UseCity=' + $("#UseCity").val() + '&UseDist=' + $("#UseDist").val() + '&keyid=' + $("#keyid").val() + '');
        });
    });
    function s1() {
        $("#UseCity").empty();
        $("#UseDist").empty();
        $("<option></option>").val("").text("--请选择--").appendTo($("#UseCity"));
        $("<option></option>").val("").text("--请选择--").appendTo($("#UseDist"));
    }

    function s2() {
        $("#UseDist").empty();
        $("<option></option>").val("").text("--请选择--").appendTo($("#UseDist"));
    }
    function s3() {
        $("#keyid").empty();
        $("<option></option>").val("").text("--请选择--").appendTo($("#keyid"));
    }
</script>
